NODE_ENV="production"
DEPLOY_USER="psevdo"
DEPLOY_HOST="51.250.88.217"
DEPLOY_PATH="/home/psevdo/web-plus-pm2-deploy"
DEPLOY_REF="origin/master"
DEPLOY_REPO="https://github.com/psevdo212/web-plus-pm2-deploy.git"